.post-container {
    border: 1px solid lightgray;
    border-radius: 5px;
    max-height: 100px;
    /* change width for mobile */
    width: 500px;
    padding: 15px;
    justify-content: center;
    margin: 10px;
    line-height: 1.5;
    color: #282828;
    background-color: white;
}

a {
    all: unset;
}

.first-row-container {
    display: flex;
    justify-content: space-between;
}

.faicon {
    color: "#1c1c1c";
    margin: 3px;
}

.updating-post-container {
    margin-top: 5px;
    display: flex;
    /* background-color: coral; */
    justify-content: space-around;
}

.first-row:hover {
    text-decoration: underline;
    color: blue;
}

.submit-button {
    width: fit-content;
    height: fit-content;
    background-color: #1DA1F2;
    padding: 3px 10px;
    border-radius: 20px;
    margin: auto;
}

.submit-button:hover {
    color: #1DA1F2;
    background-color: white;
    border: 2px solid #1DA1F2;
}