.error {
    color: red;
    justify-content: center;
    display: flex;
    margin: 15px;
}

.asterisk {
    color: red;
}

.login-register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
}

.title {
    margin: auto;
    padding: 20px;
}

.login-register-contents {
    margin: auto;
}

.input-row {
    margin: 15px;
}

.password-span {
    margin-right: 3px;
}

.bio-span {
    margin-right: 12px;
}