.user-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
    line-height: 2;
}

.username-title {
    font-size: 30px;
    margin: auto;
}

.user-description {
    margin: auto;
    color: grey;
}

.date-joined {
    font-size: 12px;
    margin: auto;
    color: grey;
}

.profile-create-post-container {
    padding-top: 20px;
}